/node_modules
/public/dist
/public/hot
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/*
.phpintel/*
package-lock.json
composer.lock

public/*.map
public/*.js
public/*.css

public/assets/html
public/assets/scss
public/assets/config.json
public/index.html
public/3rdpartylicenses.txt
