<div class="container-fluid main_content">
  <!-- Content here -->
    <div class="row game_list">
      <a href="http://" class="col-6 game_item" *ngFor="let game of game_list">
        <div class="img_zone">
          <img class="img" src="{{game.image_url}}" alt="">
        </div>
        <div class="des_zone">
          <div>
            <a href="http://" class="title">{{game.name}}</a>
          </div>
          <div>
            <span class="badge badge-primary" *ngFor="let tag of game.game_tags">{{tag}}</span>
          </div>
          <div class="description">{{game.description}}</div>
        </div>
      </a>
    </div>

    <div class="row">
      <ngb-pagination class="d-flex justify-content-center" 
                      [collectionSize]="total_number" 
                      [(page)]="current_page"
                      [pageSize]="row"
                      [maxSize]="5"
                      [rotate]="true"
                      size="sm"
                      (pageChange)="pageChange()"
                      ></ngb-pagination>
    </div>
</div>