<div class="container">
    <div class="search-header">
        <div class="search-input">
            <input id="typeahead-basic" type="text" class="form-control" 
                [(ngModel)]="game_keywords" 
                [ngbTypeahead]="search_by_keywords" 
                (keydown)="searchKeyDown($event)"
                (selectItem)="searchMore($event)"
                />
            <!-- <button type="button" class="btn btn-primary" (click)="search()">
                搜索
                <i class="fas fa-search"></i>
            </button> -->
        </div>
    </div>
    <div class="row game_list">
        <div class="col-12 game_item" *ngFor="let game of game_list">
            <div class="img_zone">
                <img class="img" src="{{game.image_url}}" alt=""  routerLink="/game-detail/{{game._id}}" routerLinkActive="active">
            </div>
            <div class="des_zone">
                <div>
                    <a routerLink="/game-detail/{{game._id}}" routerLinkActive="active" class="title">{{game.name}}</a>
                </div>
                <div>
                    <span class="badge badge-primary" *ngFor="let tag of game.game_tags_string">{{tag}}</span>
                </div>
                <div [innerHTML]="game.description" class="description"></div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <ngb-pagination [collectionSize]="total_number" [(page)]="current_page"
            [pageSize]="row" [maxSize]="5" [rotate]="true" size="sm" (pageChange)="pageChange()"></ngb-pagination>
    </div>
</div>

<!-- test -->